html,
body {
    height: 100%;
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url(/dist/Roboto-Regular.ttf);
}

body {
    font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
}

.container {
    padding: 0;
}

.login-logo {
    width: 90px;
    height: 90px;
    margin: 80px auto;
    overflow: hidden;
}

.login-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain
}

.login-title {
    margin-left: 20px;
}

.login-form {
    margin: auto;
    padding: 0;
}

.login-form h3 {
    margin-bottom: 20px;
}

.input-email,
.input-password,
.forgot-password{
    width: 100%;
    padding: 0;
    border: 0;
    margin: auto;
}

.input-email,
.input-password {
    box-shadow: none;
    -webkit-box-shadow: none;
    outline: none;
    color: black;
}

#icon-email,
#icon-password{
    margin-right: 10px;
}

.icon-enabled {
    color: black;
}

#icon-check-email.icon-error {
    color: #d2877d;
}

#icon-check-email {
    color: #5ab98c;
}

#icon-check-email,
#icon-check-password {
    margin-left: 10px;
    margin-right: 20px;
}

.login-form-email,
.login-form-password,
.login-form-confirm{
    display: flex;
    height: 60px;
    padding-left: 20px;
    color: #9a9a9c;
}

.forgot-password {
    width: 100%;
}

.forgot-password .info,
.forgot-password i,
#icon-check-password {
    cursor: pointer;
}

.btn {
    margin: auto;
    height: 40px;
    padding: 5px 22px;
    border-radius: 50px;
    white-space: nowrap;
}

.login-form .btn {
    margin-right: 20px;
}

.btn-disabled, .btn-disabled:hover {
    border-color: #9a9a9c;
    border-width: 2px;
    background: none;
    color: #9a9a9c;
}

.btn-enabled, .btn-enabled:hover {
    background: #5ab98c;
    color: #fff;
}

.btn-error, .btn-error:hover {
    background: #d2877d;
    color: #fff;
}

.validate-line {
    height: 2px;
    background: #9a9a9c;
}

.validate-line-ok {
    height: 2px;
    width: 40%;
    background: #5ab98c;
}

.validate-line-ok2 {
    height: 2px;
    background: #5ab98c;
}

.validate-line-error {
    height: 2px;
    background: #d2877d;
}

.footer {
    background: #f5f5f5;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.toolbar {
    display: flex;
    padding: 10px 20px;
    height: 50px;
    display: flex;
    margin: auto;
    color: #727274;
}

.map {
    width: 100%;
}

.new-user {
    white-space: nowrap;
}

.icon-size2{
    font-size:20px;
}


